
<form action="/Mercadoria/Adicionar" method="post">
    <label for="descricao">Descrição:</label>
    <input id="descricao" name="mercadoria.Descricao" value="@ViewBag.Mercadoria.Descricao" class="form-control" />
    @Html.ValidationMessage("mercadoria.Descricao")

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />
    @Html.ValidationMessage("mercadoria.Qtde_Inicial")

    <input type="submit" value="Cadastrar" />
</form>